html {
  scroll-behavior: smooth;
}

#search {
  color: white;
  background-color: green;
}

img:hover {
  margin-left: 0 40 px;
  transform: scale(1,2);
  cursor: pointer;
}


#movies-searchable {
  margin-top: 20px;
}

.navbar-brand {
  
  text-transform: uppercase;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link {
  
  background-color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

h1 {
  color: rgb(228, 4, 4);
}
.content {
  border: 1px solid red;
  display: none;
}

.content div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}
.container {
  padding: 20px;
  margin: 0 auto;
}

.movie {
  margin-top: 50px;
}

section {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

section img {
  width: 300px;

}
.content-display {
  display: block;
}

/* .content {
  display: none;
  position: relative;
  min-height: 200px;
  width: 100%;
  border: 1px solid red;
  padding: 20px;
} */

/* images */

/* .imageContainer {
  transition: 250ms all;
  width: 300px;
}


.imageContainer:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.imageContainer {
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.imageContainer img {
  width: 100%;
} */

/* video header */

.overlay {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.overlay video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .overlay {
    background: url('https://eez.ymcdn.website/new/7e06298aca3addee27f568c68c9b00e7/Skpu5HaVkOc/1600x900') black no-repeat center center scroll;
  }
  .overlay video {
    display: none;
  }
}