html {
  scroll-behavior: smooth;
}

#search {
  color: white;
  background-color: green;
}

img:hover {
  margin-left: 0 40 px;
  transform: scale(1,2);
  cursor: pointer;
}


#movies-searchable {
  margin-top: 20px;
}


h1 {
  color: rgb(228, 4, 4);
}
body {
  margin: 0;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.movie {
  margin-top: 50px;
}

section {
  position: relative;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: 250ms all;
}

section .imageContainer {
  flex: 0 0 auto;
}

.content {
  display: none;
  position: relative;
  min-height: 200px;
  width: 100%;
  border: 1px solid red;
  padding: 20px;
}

/* images */

.imageContainer {
  transition: 250ms all;
  width: 300px;
}


.imageContainer:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.imageContainer {
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.imageContainer img {
  width: 100%;
}